.pokemon-details {
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  background-color: white;
  border-radius: 10px;
  margin-block: 20px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-align: center;
}

.pokemon-details h2 {
  margin-bottom: 10px;
}

.pokemon-details p {
  margin-top: 0px;
}

.details {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.abilities-container,
.types-container,
.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.abilities-container h3,
.types-container h3,
.body-container h3 {
  margin: 0px;
  margin-left: 20px;
}

.abilities-container ul,
.types-container ul,
.body-container ul {
  margin: 0px;
  margin-bottom: 20px;
}

.abilities-container ul li,
.types-container ul li,
.body-container ul li {
  text-align: start;
}
