.pokemon-details {
  position: relative;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  background-color: white;
  border-radius: 10px;
  margin-block: 20px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-align: center;
}

.pokemon-details h2 {
  margin-bottom: 10px;
}

.pokemon-details p {
  margin-top: 0px;
}

.details {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.abilities-container,
.types-container,
.body-container,
.additional-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.additional-info-container {
  align-items: center;
}

.abilities-container h3,
.types-container h3,
.body-container h3,
.additional-info-container h3 {
  margin: 0px;
  margin-left: 20px;
}

.abilities-container ul,
.types-container ul,
.body-container ul,
.additional-info-container ul {
  margin: 0px;
  margin-bottom: 20px;
}

.abilities-container ul li,
.types-container ul li,
.body-container ul li,
.additional-info-container ul li {
  text-align: start;
}

.additional-info-container ul li {
  list-style: none;
}

.bold-text {
  font-weight: bold;
}

.close-button {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;

  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

/* close button */

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 4px;
  background-color: #000;
  transform-origin: center;
}

.close-button::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close-button::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.close-button:hover {
  transform: scale(1.1);
}

.close-button:active {
  transform: scale(0.9);
}
